@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }
  
  body {
    @apply bg-neutral-950 text-neutral-100 font-sans antialiased selection:bg-amber-400 selection:text-neutral-950;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24;
}
